.Hero-section .topbar {
    position: initial;
  }
  .Hero-section .topbar .navWrapper {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .Hero-section .topbar .navWrapper .navbar .logo img {
    filter: invert(1);
  }
  .Hero-section .topbar .navWrapper .navbar .navigationWrapper ul li a {
    color: #363636;
  }
  .Hero-section .topbar .navWrapper .navbar .navigationWrapper ul li a:after {
    background-color: #363636;
  }
  .Hero-section .topbar .navWrapper .navbar .navigationWrapper ul li:first-child a::after {
    transform: scaleX(0);
  }
  .Hero-section .topbar .navWrapper .navbar .navigationWrapper ul li:hover:first-child a::after {
    transform: scaleX(1);
  }
  .Hero-section .topbar .navWrapper .navbar .cart-menuWrapper ul li img {
    filter: invert(1);
  }
  .Hero-section .topbar .navWrapper .navbar .cart-menuWrapper ul li .nav-icon1 span {
    background-color: #363636;
  }
  .Hero-section .topbar .navWrapper .navbar .cart-menuWrapper ul .searchIcon a {
    color: #363636;
    font-weight: 600;
  }
  .Hero-section .topbar .navWrapper .navbar .cart-menuWrapper ul .searchIcon a::after {
    background-color: #363636;
  }
  .Hero-section .topbar .navWrapper .navbar .cart-menuWrapper ul .searchIcon a:hover ::after {
    transform: scale(1);
  }
  
  .useraccount .createaccountwrapper {
    width: 436px;
    margin: 48px auto;
    background: #fff;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .useraccount .createaccountwrapper h2 {
    font-size: 24px;
    text-transform: initial;
    letter-spacing: 1.5px;
    text-align: center;
    width: initial;
  }
  .useraccount .createaccountwrapper h2::after {
    display: none;
  }
  .useraccount .createaccountwrapper p {
    font-size: 15px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 8px;
  }
  .useraccount .createaccountwrapper label {
    margin-left: 21px;
  }
  .useraccount .createaccountwrapper #password {
    margin-top: 18px;
  }
  .useraccount .createaccountwrapper input {
    width: 86%;
    height: 42px;
    padding-left: 16px;
    font-family: var(--secondary-font);
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(119, 119, 119, 0.4666666667);
    margin-top: 8px;
    border: none;
    border: 1.5px solid #949494;
  }
  .useraccount .createaccountwrapper input:focus {
    outline: none;
  }
  .useraccount .createaccountwrapper .error {
    margin-left: 36px;
    font-family: var(--secondary-font);
    font-size: 15px;
    letter-spacing: 1px;
    color: #ff0404;
  }
  .useraccount .createaccountwrapper .hint {
    text-align: start;
    width: 85%;
    color: #000;
  }
  .useraccount .createaccountwrapper h3 {
    font-size: 18px;
    font-family: var(--secondary-font);
    letter-spacing: 0.8px;
    color: #3e3e3e;
    margin-top: 22px;
  }
  .useraccount .createaccountwrapper .orderBtn {
    width: 90%;
    margin: 0 auto;
    margin-top: 32px;
  }
  .useraccount .createaccountwrapper .signin-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .useraccount .createaccountwrapper .signin-wrapper .or {
    width: 100%;
    position: relative;
    text-align: center;
    margin: 16px 0;
    font-family: var(--secondary-font);
    letter-spacing: 1px;
  }
  .useraccount .createaccountwrapper .signin-wrapper .or::before {
    content: "";
    height: 1px;
    width: 30%;
    position: absolute;
    left: 60px;
    top: 50%;
    background-color: #898989;
  }
  .useraccount .createaccountwrapper .signin-wrapper .or:after {
    content: "";
    height: 1px;
    width: 30%;
    position: absolute;
    right: 60px;
    top: 50%;
    background-color: #898989;
  }
  .useraccount .createaccountwrapper .signin-wrapper .easysignin {
    display: flex;
    width: 91%;
    justify-content: space-between;
  }
  .useraccount .createaccountwrapper .signin-wrapper .easysignin .g-signin, .useraccount .createaccountwrapper .signin-wrapper .easysignin .a-signin {
    color: #363636;
    padding: 7px 15px;
    border: 1px solid #B8B8B8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.2s all;
  }
  .useraccount .createaccountwrapper .signin-wrapper .easysignin .g-signin span, .useraccount .createaccountwrapper .signin-wrapper .easysignin .a-signin span {
    font-family: var(--secondary-font);
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .useraccount .createaccountwrapper .signin-wrapper .easysignin .g-signin:hover, .useraccount .createaccountwrapper .signin-wrapper .easysignin .a-signin:hover {
    background-color: #f3f3f3;
  }
  .useraccount .createaccountwrapper .signin-wrapper .haveaccount {
    margin-top: 20px;
  }
  .useraccount .createaccountwrapper .signin-wrapper .haveaccount p {
    width: 100%;
    color: #000;
    font-weight: 600;
  }
  .useraccount .createaccountwrapper .signin-wrapper .haveaccount p a {
    color: var(--primary-color);
    margin-left: 8px;
  }
  .useraccount .createaccountwrapper .signin-wrapper .haveaccount p a:hover {
    text-decoration: underline;
  }
  
  @media only screen and (max-width: 550px) {
    .useraccount .createaccountwrapper {
      box-shadow: none;
      width: initial;
    }
    .useraccount .createaccountwrapper .signin-wrapper .or:before {
      left: 30px;
    }
    .useraccount .createaccountwrapper .signin-wrapper .or:after {
      right: 30px;
    }
    .useraccount .createaccountwrapper .signin-wrapper .easysignin {
      flex-direction: column;
      gap: 15px;
    }
  }/*# sourceMappingURL=style.css.map */