<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basnyat Brew</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/password_reset/style.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  </head>
  <body>
    <section class="Hero-section">
      <div class="topbar">
        {% include 'navbar.html' %}
        {% block navbar %}
        {% endblock %}
    <section class="useraccount">
        <div class="createaccountwrapper">
            <h2>Verify email</h2>
            <p>Join our platform and start exploring today! Sign up now to unlock exclusive offers</p>
            <form method="POST">
                {% csrf_token %}
                <div class="account-privacy">
                    <label class="email">
                        <input type="text" id="email" name="email" placeholder="*Email address" class="form-control">
                        <div id="emailError" class="error"></div>
                    </label>
                </div>
                <div class="orderBtn" id="create">
                    <button type="submit" href="#" id="verifyButton"><span>Verify</span></a>
                  
                    <span></span>
                </div>
                
            </form>
            <div class="signin-wrapper">
                
                
            </div>
</div>
</section>
<script>
    $('#create').click(function(){
        checkEmail();
        if(userError || emailError ){
            return false;
        }else{
            return true;
        }
    });
    $('#email').focusout(function(){
        checkEmail();
    });
    var userError = false;
    var emailError = false;

    function checkEmail(){
        var email = $('#email').val();
        var pattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if(email.length == 0){
            $('#emailError').html('Email is required.');
            emailError = true;
        }else{
            if(!email.match(pattern)){
                $('#emailError').html('Invalid Email address.');
                emailError = true;	
            }else{
                $('#emailError').empty();
                emailError = false;
            }
        }
    };
</script>

{% include 'footer.html' %}
{% block footer %}
{% endblock %}
  </body>
</html>