<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basnyat Brew</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% load static %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/password_reset_complete/style.css' %}">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
  </head>
  <body>
    <section class="Hero-section">
      <div class="topbar">
       {% include 'navbar.html' %}
       {% block navbar %}
       {% endblock %}
    <section class="sent-email-wrapper">
        <div class="sent-email">
            <div class="email-icon">
                <div class="email-img">
                <img src="../assets/icons/tick.svg" alt="">
                </div>
                <h3>Password Changed</h3>
            </div>
            <div class="sent-text">
                <p>Your Password has been changed successfully</p>
            </div>
            <div class="orderBtn" id="create">
                <a href="{% url 'login' %}"><span>Log in</span></a>
                <span></span>
              </div>
        </div>
    </section>
    </section>
  {% include 'footer.html' %}
  {% block footer %}
  {% endblock %}
  </body>
</html>